<nav class="navbar navbar-expand-lg  skyBlue">
  <div class="container-fluid">
    <img src="/assets/logo.webp" alt="logo.ext" class="abc logo" routerLink="/main" >

      <ul class="navbar-nav me-auto">
          <a class="nav-link active" href="#" routerLink="/main"><span class="style"><strong>UNREAL CONTRACTERS LIMITED </strong> </span></a>
      </ul>
      <div class="usuario-logout">
        <span class="nombre-usuario"><strong>CrewAdmin</strong></span>
        <button class="boton-logout" routerLink="/login">Logout</button>
      </div>
    </div>
</nav>
