<h1 class="whiteText text-center mt-3">EDITAR CONTRATOS</h1>
<div class="container stylesContainerGreenish text-center ">
  <div class="containerGreenish">
    <form [formGroup]="contratoForm" (ngSubmit)="guardarCambios()">
      <strong> Nombre</strong>
      <input type="text" formControlName="nombre" placeholder="Editar contrato" class="form-control text-center">
      <strong>Fecha de creacion</strong>
      <input type="date" formControlName="fechaCreacion" class="form-control text-center">
      <div class="form-group">
        <br>      <strong>IVA </strong>
        <select class="form-control text-center" formControlName="iva">
          <option>{{ selectOption1 }} %</option>
          <option>{{ selectOption2 }} %</option>
          <option>{{ selectOption3 }} %</option>
        </select>
      </div>
      <div class="form-group">
        <strong>Entidad de autoridad</strong>
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="form-group">
        <strong>Entidad contratante</strong>
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
    </form>
    <button type="submit" class="btn btn-success" (click)="guardarCambios()"> Guardar cambios</button>
  </div>
</div>
