<h1 class="whiteText text-center mt-3">EDITAR CONTRATOS</h1>
<div class="container stylesContainerGreenish text-center ">
  <div class="containerGreenish">
    <form [formGroup]="contratoForm" (ngSubmit)="guardarCambios()">

      <label><strong> Nombre</strong></label>
      <input type="text" formControlName="nombre" placeholder="Editar contrato" class="form-control text-center">
      <br>
      <strong>Fecha de creacion</strong>
      <input type="date" formControlName="fechaCreacion" class="form-control text-center">
      <br>
      <div class="form-group">
        <label> <strong>IVA </strong></label>
        <select class="form-control text-center" formControlName="iva" >
          <option>{{ selectOption1 }} %</option>
          <option>{{ selectOption2 }} %</option>
          <option>{{ selectOption3 }} %</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label> <strong>Entidad de autoridad</strong></label>
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label> <strong>Entidad contratante</strong></label>
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
    </form>
    <br>
    <button type="submit" class="btn btn-success" (click)="guardarCambios()"> Guardar cambios</button>
    <br>
  </div>

</div>
