<h1 class="whiteText text-center mt-3">EDITAR CONTRATOS</h1>
<div class="container styles text-center ">
  <div class="contenedor">
    <form [formGroup]="contratoForm" (ngSubmit)="guardarCambios()">

      <label><strong> Contratos</strong></label>
      <input type="text" formControlName="contrato" placeholder="Crear/editar contrato" class="form-control text-center">
      <br>
      <strong>Selecciona fecha</strong>
      <input type="date" formControlName="fecha" class="form-control text-center">
      <br>
      <div class="form-group">
        <label> <strong>% de Impuesto</strong></label>
        <select class="form-control text-center" formControlName="impuesto" >
          <option>{{ selectOption1 }} %</option>
          <option>{{ selectOption2 }} %</option>
          <option>{{ selectOption3 }} %</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label> <strong>Entidad de autoridad</strong></label>
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label> <strong>Entidad contratante</strong></label>
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
    </form>
    <br>
    <button type="submit" class="btnColor" (click)="guardarCambios()"> Guardar cambios</button>
    <br>
  </div>

</div>
