<div class="container grayBorder" style="overflow-y:scroll">
  <div class="row mt-3">

    <div class="treeview w-20 left margin">
      <ul class="mb-1 pl-3 pb-2 " >
        <li>
          <a routerLink="/main/settings" class="margin">Ajustes</a>
          <ul class="nested">
            <a routerLink="/main/settings/web">
              <li class="margin">Web</li>
            </a>
            <a routerLink="/main/settings/usuarios">
              <li class="margin">Usuarios</li>
            </a>
          </ul>
        </li>
        <li>
          <a routerLink="/main/contratos" class="margin">Contratos</a>
          <ul class="nested">
            <a routerLink="/main/contratos/inventario">
              <li class="margin">Inventario</li>
            </a>
            <a routerLink="/main/contratos/editarContratos">
              <li class="margin">Crear/editar contratos</li>
            </a>
            <a routerLink="/main/contratos/impuestos">
              <li class="margin">Impuestos</li>
            </a>
            <a routerLink="/main/contratos/listado">
              <li class="margin">Listado</li>
            </a>
          </ul>
        </li>
        <li>
          <a routerLink="/main/contratistas">Contratistas</a>
          <ul class="nested">
            <a routerLink="/main/contratistas/gestionar">
              <li class="margin">Gestionar</li>
            </a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>


