<div class="container" style="overflow-y:scroll">
  <div class="row mt-3">
    <div class="w-20">
      <ul class="mb-1 pl-3 pb-2">
        <li><a routerLink="/main/settings">Ajustes</a>
          <ul><a routerLink="/main/settings/web">
            <li>Web</li>
          </a>
            <a routerLink="/main/settings/usuarios">
              <li>Usuarios</li>
            </a>
          </ul>
        </li>
        <li><a routerLink="/main/contratos">Contratos</a>
          <ul><a routerLink="/main/contratos/inventario">
            <li>Inventario</li>
          </a>
            <a routerLink="/main/contratos/editarContratos">
              <li>Crear/editar contratos</li>
            </a>
            <a routerLink="/main/contratos/impuestos">
              <li>Impuestos</li>
            </a>
            <a routerLink="/main/contratos/listado">
              <li>Listado</li>
            </a>
          </ul>
        </li>
        <li>
          <a routerLink="/main/contratistas">Contratistas</a>
          <ul><a routerLink="/main/contratistas/gestionar">
            <li>Gestionar</li>
          </a>
          </ul>
          <ul><a routerLink="/main/contratistas/crear-editar">
            <li>Crear/editar contratistas</li>
          </a></ul>
          <ul><a routerLink="/main/contratistas/listado">
            <li>Listado</li>
          </a></ul>
        </li>
        <li><a routerLink="/main/autoridad">Autoridad</a>
          <ul><a routerLink="/main/autoridad/crear-editar">
            <li>Crear/editar autoridad</li>
          </a></ul>
          <ul><a routerLink="/main/autoridad/listado">
            <li>Listado</li>
          </a></ul>
        </li>

      </ul>
    </div>
  </div>
</div>


