<body>
<div class="container black whiteText ">
  <label><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="uname" required>

  <label><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button type="submit" (click)="goToMain()">Login</button>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>

<div class="container whiteText"  style="background-color:black">
  <button type="button" class="cancelbtn" (click)="getOut()">Cancel</button>
  <span class="psw">Forgot <a href="#" style="color: brown">password?</a></span>
</div>


</body>

