<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="contenedor-cuadrado">
        <img src="/assets/loginUserIcon.png" alt="login">
        <strong><p class="mb-1">Nombre de usuario</p></strong>
        <input type="text" class="form-control ">
        <strong><p class="mb-1">Contraseña</p></strong>
        <input type="text" class="form-control">
        <label for="recordar">
          <input type="checkbox" id="recordar" name="recordar">
          Recordar
        </label>
        <br>
        <a href="#" class="skyBlue"><i> No recuerdas la contraseña?</i></a>
        <div class="contenedor-botones ">
          <button routerLink="/main" type="button" class="btn btn-primary boton ">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
